<template>
  <div class="karbeiter">
        <div id="nav">
            <router-link to="/kuechen">Küchen</router-link> |
            <router-link to="/kuechen/mitarbeiter">Küchen Mitarbeiter</router-link> |
            <router-link to="/kuechen/geraete">Küchen Geräte</router-link> |
            <router-link to="/kuechen/mitarbeiter/jobs">Küchen Jobs</router-link>
        </div>
    <h1>Mitarbeiter</h1>
    <center>
      <md-table>
      <md-table-row>
        <md-table-head md-numeric>Mitarbeiter ID</md-table-head>
        <md-table-head>Mitarbeiter voller Name</md-table-head>
        <md-table-head>Mitarbeiter Adresse</md-table-head>
        <md-table-head>Mitarbeiter Sozialversicherungsnummer</md-table-head>
        <md-table-head>Mitarbeiter Jobbezeichnung</md-table-head>
        <md-table-head>Mitarbeiter Gehalt</md-table-head>
        <md-table-head>Stadium ID</md-table-head>
        <md-table-head>Stadium Name</md-table-head>
        <md-table-head>Stadium Adresse</md-table-head>
        <md-table-head>Stadium Plätze</md-table-head>
      </md-table-row>

      <md-table-row v-for="mitarbeiter in mitarbeiterliste" v-bind:key="mitarbeiter">
        <md-table-cell md-numeric> {{mitarbeiter[0]}}</md-table-cell>
        <md-table-cell>{{mitarbeiter[1]}}</md-table-cell>
        <md-table-cell> {{mitarbeiter[2]}}</md-table-cell>
        <md-table-cell>{{mitarbeiter[3]}}</md-table-cell>
        <md-table-cell> {{mitarbeiter[4]}}</md-table-cell>
        <md-table-cell md-numeric>{{mitarbeiter[5]}}</md-table-cell>
        <md-table-cell md-numeric> {{mitarbeiter[6]}}</md-table-cell>
        <md-table-cell>{{mitarbeiter[7]}}</md-table-cell>
        <md-table-cell> {{mitarbeiter[8]}}</md-table-cell>
        <md-table-cell md-numeric>{{mitarbeiter[9]}}</md-table-cell>
      </md-table-row>
    </md-table>
    </center>
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from "@/components/HelloWorld.vue";
import ax from "axios";
export default {
  name: "Küche",
  data() {
    return {
      mitarbeiterliste: null
    }
  },
  methods: {
    getData(){
      ax.get("http://localhost:3000/kuechen/mitarbeiter")
      .then(res => {
        this.mitarbeiterliste = res.data;
      })
    }
  },
  mounted(){
    this.getData();
  }
};
</script>