<template>
  <div class="kgeraete">
      <div id="nav">
            <router-link to="/kuechen">Küchen</router-link> |
            <router-link to="/kuechen/mitarbeiter">Küchen Mitarbeiter</router-link> |
            <router-link to="/kuechen/geraete">Küchen Geräte</router-link> |
            <router-link to="/kuechen/mitarbeiter/jobs">Küchen Jobs</router-link>
        </div>
    <h1>Geräte</h1>
    <center>
      <md-table>
      <md-table-row>
        <md-table-head md-numeric>Geräte ID</md-table-head>
        <md-table-head>Geräte Name</md-table-head>
        <md-table-head md-numeric>Zuständig ID</md-table-head>
        <md-table-head>Zuständig voller Name</md-table-head>
        <md-table-head>Standort</md-table-head>
        <md-table-head md-numeric>Anschaffungskosten</md-table-head>

      </md-table-row>

      <md-table-row v-for="geraete in geraeteliste" v-bind:key="geraete">
        <md-table-cell md-numeric> {{geraete[0]}}</md-table-cell>
        <md-table-cell> {{geraete[1]}}</md-table-cell>
        <md-table-cell md-numeric> {{geraete[2]}}</md-table-cell>
        <md-table-cell> {{geraete[3]}}</md-table-cell>
        <md-table-cell> {{geraete[4]}}</md-table-cell>
        <md-table-cell md-numeric> {{geraete[5]}}</md-table-cell>
      </md-table-row>
    </md-table>
    </center>
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from "@/components/HelloWorld.vue";
import ax from "axios";
export default {
  name: "Küche",
  data() {
    return {
      geraeteliste: null
    }
  },
  methods: {
    getData(){
      ax.get("http://localhost:3000/kuechen/geraete")
      .then(res => {
        this.geraeteliste = res.data;
      })
    }
  },
  mounted(){
    this.getData();
  }
};
</script>