<template>
  <div class="kjobs">
      <div id="nav">
            <router-link to="/kuechen">Küchen</router-link> |
            <router-link to="/kuechen/mitarbeiter">Küchen Mitarbeiter</router-link> |
            <router-link to="/kuechen/geraete">Küchen Geräte</router-link> |
            <router-link to="/kuechen/mitarbeiter/jobs">Küchen Jobs</router-link>
        </div>
    <h1>This is an Jobs</h1>
    <center>
      <md-table>
      <md-table-row>
        <md-table-head md-numeric>Job ID</md-table-head>
        <md-table-head>Job Name</md-table-head>
        <md-table-head md-numeric>Job Gehalt</md-table-head>


      </md-table-row>

      <md-table-row v-for="jobs in jobsliste" v-bind:key="jobs">
        <md-table-cell md-numeric> {{jobs[0]}}</md-table-cell>
        <md-table-cell> {{jobs[1]}}</md-table-cell>
        <md-table-cell md-numeric> {{jobs[2]}}</md-table-cell>
      </md-table-row>
    </md-table>
    </center>
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from "@/components/HelloWorld.vue";
import ax from "axios";
export default {
  name: "Küche",
  data() {
    return {
      jobsliste: null
    }
  },
  methods: {
    getData(){
      ax.get("http://localhost:3000/kuechen/mitarbeiter/jobs")
      .then(res => {
        this.jobsliste = res.data;
      })
    }
  },
  mounted(){
    this.getData();
  }
};
</script>