<template>
  <div class="kuechen">
    <!-- <img alt="Vue logo" src="../assets/logo.png" /> -->
    <!-- <HelloWorld msg="Welcome to Your Vue.js App" /> -->
    <div id="nav">
            <router-link to="/kuechen">Küchen</router-link> |
            <router-link to="/kuechen/mitarbeiter">Küchen Mitarbeiter</router-link> |
            <router-link to="/kuechen/geraete">Küchen Geräte</router-link> |
            <router-link to="/kuechen/mitarbeiter/jobs">Küchen Jobs</router-link>
        </div>

    <center>
      <md-table>
      <md-table-row>
        <md-table-head md-numeric>Küchen ID</md-table-head>
        <md-table-head>Küchen Name</md-table-head>
      </md-table-row>

      <md-table-row v-for="kueche in kuechenliste" v-bind:key="kueche">
        <md-table-cell md-numeric> {{kueche[0]}}</md-table-cell>
        <md-table-cell>{{kueche[1]}}</md-table-cell>
      </md-table-row>
    </md-table>
    </center>
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from "@/components/HelloWorld.vue";
import ax from "axios";
export default {
  name: "Küche",
  data() {
    return {
      kuechenliste: null
    }
  },
  methods: {
    getData(){
      ax.get("http://localhost:3000/kuechen")
      .then(res => {
        this.kuechenliste = res.data;
      })
    }
  },
  mounted(){
    this.getData();
  }
};
</script>
