<template>
  <div class="about">
    <h1>About</h1>
    <p>
      Es ist Aufgabe eine Datenbank für einen Fußballklub zu entwerfen. Dieser Fußballklub hat ein Stadion und verschiedene Mitarbeiter in verschiedenen Sparten, eine Jugendausbildungsstätte mit Trainern und Trainingsmaterialien. Der Klub hat viele Fans und einen großen Fanshop, Tickets können die Kunden online oder im Fanshop kaufen. Der Klub hat seine eigene Stadionküche, die täglich beliefert wird. Der Fußballklub hat eine eigene Sozialmedia Abteilung, die in verschiedene Sparten unterteilt ist: Facebook, Instagram und Snapchat. Der Klub hat sehr viele Sponsoren. Jeder Klub hat Trophäen, Abzeichen und erfolge, diese sollen auch verwaltet werden.

Der Klub möchte nicht nur all die vorher genannten Einzelheiten in seiner Datenbank verwalten, sondern auch noch seine gespielten Spiele

    </p>
  </div>
</template>
