<template>
  <dir class="home">
      <h1>Madrid Fußballklub DBS Projekt</h1>

      <md-table>
          <md-table-row>
              <md-table-head>Name:</md-table-head>
              <md-table-head>DB Tabellen:</md-table-head>
              <md-table-head>GUI Funktinoen:</md-table-head>
          </md-table-row>
          <md-table-row>
              <md-table-cell>
                  Georg Reisinger
              </md-table-cell>
              <md-table-cell>
                
                    KUECHEN<br>
                    KUECHENMITARBEITER<br>
                    KUECHENMITARBEITER_JOB<br>
                    KEUCHENGERAETE<br>
                
              </md-table-cell>
              <md-table-cell>
                  
                      Küchen (SHOW, ADD, EDIT, DEL)<br>
                      Küchen Mitarbeiter (SHOW, ADD, EDIT, DEL)<br>
                      Küchen Geräte (SHOW, ADD, EDIT, DEL)<br>
                      Küchen Jobs (SHOW, ADD, EDIT, DEL)<br>
                      Küchen Geräte Defekt(SHOW, ADD, EDIT)
                  
              </md-table-cell>
          </md-table-row>
          <md-table-row>
              <md-table-cell>
                  Christoph Maunz
              </md-table-cell>
              <md-table-cell>
                
                    <!-- KUECHEN<br> -->
                
              </md-table-cell>
              <md-table-cell>
                  
                      <!-- Küchen (SHOW, ADD, EDIT, DE -->
                  
              </md-table-cell>
          </md-table-row>
          <md-table-row>
              <md-table-cell>
                  Lukas Nowy
              </md-table-cell>
              <md-table-cell>
                STADIUM <br>
                STADIUM_MITARBEITER <br>
                HAUSMEISTER <br>
                REINIGUNGSKRÄFTE <br>
                GÄRTNER <br>
                SECURITY <br>
                STADIUM_UTENSILIEN <br>
                ENTLASSUNGEN <br>
              </md-table-cell>
              <md-table-cell>
                  STADIEN (show) <br>
                  STADIEN MITSRBEITER (show, show/hide employee groups) <br>
                  STADIEN UTENSILIEN (show, anzahl filter) <br>
                  STADIEN MITARBEITER ENTLASSUNGEN (show)
                  
              </md-table-cell>
          </md-table-row>
          <md-table-row>
              <md-table-cell>
                  Leart Rustemi
              </md-table-cell>
              <md-table-cell>
                <!--  -->
                
              </md-table-cell>
              <md-table-cell>
                  <!--  -->
                  
              </md-table-cell>
          </md-table-row>
          <md-table-row>
              <md-table-cell>
                  Mücahit Üstünel
              </md-table-cell>
              <md-table-cell>
                  <!--  -->
              </md-table-cell>
              <md-table-cell>
<!--  -->
              </md-table-cell>
          </md-table-row>
      </md-table>
  </dir>
</template>

<script>
export default {

}
</script>

<style>

</style>