<template>
  <div class="stadium">
            <div id="nav">
            <router-link to="/stadien">Stadien</router-link> |
            <router-link to="/stadien/mitarbeiter">Stadium Mitarbeiter</router-link> |
            <router-link to="/stadien/utensilien">Stadium Utensilien</router-link> |
            <router-link to="/stadien/mitarbeiter/entlassungen">Stadium Mitarbeiter Entlassungen</router-link>
        </div>
    <center>
      <md-table>
      <md-table-row>
        <md-table-head md-numeric>Mitarbeiter ID</md-table-head>
        <md-table-head>Vorname</md-table-head>
        <md-table-head>Nachname</md-table-head>
        <md-table-head>Datum Entlassung</md-table-head>
      </md-table-row>

      <md-table-row v-for="item in entlassungen" v-bind:key="item">
        <md-table-cell md-numeric> {{item[0]}}</md-table-cell>
        <md-table-cell>{{item[1]}}</md-table-cell>
        <md-table-cell>{{item[2]}}</md-table-cell>
        <md-table-cell>{{item[3]}}</md-table-cell>
      </md-table-row>
    </md-table>
    </center>
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from "@/components/HelloWorld.vue";
import ax from "axios"
export default {
  name: "Stadium",
  data() {
    return {
      entlassungen: null
    }
  },
   methods: {
    getData(){
      ax.get("http://localhost:3000/stadium/mitarbeiter/entlassungen")
      .then(res => {
        this.entlassungen = res.data;
      })
    }
  },
  mounted(){
    this.getData();
  }
};
</script>
