<template>
  <div class="stadium">
            <div id="nav">
            <router-link to="/stadien">Stadien</router-link> |
            <router-link to="/stadien/mitarbeiter">Stadium Mitarbeiter</router-link> |
            <router-link to="/stadien/utensilien">Stadium Utensilien</router-link> |
            <router-link to="/stadien/mitarbeiter/entlassungen">Stadium Mitarbeiter Entlassungen</router-link>
    </div>

  <div class = "container">
    <md-field>
      <label>Maximale Anzahl</label>
      <md-input v-model="maxAnzahl"></md-input>
    </md-field>
  </div>

    <center>
      <md-table>
      <md-table-row>
        <md-table-head md-numeric>Utensil ID</md-table-head>
        <md-table-head>Stadium ID</md-table-head>
        <md-table-head>Bezeichnung</md-table-head>
        <md-table-head>Anzahl</md-table-head>
      </md-table-row>

      <md-table-row v-for="item in utensilien" v-bind:key="item" v-show="item[3] <= maxAnzahl || maxAnzahl == ''">
        <md-table-cell md-numeric> {{item[0]}}</md-table-cell>
        <md-table-cell>{{item[1]}}</md-table-cell>
        <md-table-cell>{{item[2]}}</md-table-cell>
        <md-table-cell >{{item[3] + "x"}}</md-table-cell>
      </md-table-row>
    </md-table>
    </center>
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from "@/components/HelloWorld.vue";
import ax from "axios"
export default {
  name: "Stadium",
  data() {
    return {
      utensilien: null,
      maxAnzahl: null
    }
  },
   methods: {
    getData(){
      ax.get("http://localhost:3000/stadium/utensilien")
      .then(res => {
        this.utensilien = res.data;
      })
    }
  },
  mounted(){
    this.getData();
    this.maxAnzahl = 110;
  }
};
</script>

<style scoped>
.container {
  margin-left: 25%;
  margin-right: 25%;
}
</style>
