<template>
  <div class="stadium">
            <div id="nav">
            <router-link to="/stadien">Stadien</router-link> |
            <router-link to="/stadien/mitarbeiter">Stadium Mitarbeiter</router-link> |
            <router-link to="/stadien/utensilien">Stadium Utensilien</router-link> |
            <router-link to="/stadien/mitarbeiter/entlassungen">Stadium Mitarbeiter Entlassungen</router-link>
    </div>

    <div>
      <md-switch v-model="showH">Hausmeister</md-switch>
      <md-switch v-model="showR">Reinigungskräfte</md-switch>
      <md-switch v-model="showG">Gärtner</md-switch>
      <md-switch v-model="showS">Security</md-switch>
    </div>

    <center v-show="showH">
      <h3>Hausmeister</h3>
      <md-table>
      <md-table-row>
        <md-table-head md-numeric>Mitarbeiter ID</md-table-head>
        <md-table-head>Stadium ID</md-table-head>
        <md-table-head>Name</md-table-head>
        <md-table-head>Adresse</md-table-head>
        <md-table-head>Sozialversicherungsnummer</md-table-head>
        <md-table-head>Zuständigkeit</md-table-head>
      </md-table-row>

      <md-table-row v-for="item in hausmeister" v-bind:key="item">
        <md-table-cell md-numeric> {{item[0]}}</md-table-cell>
        <md-table-cell>{{item[1]}}</md-table-cell>
        <md-table-cell>{{item[4]}}</md-table-cell>
        <md-table-cell>{{item[5]}}</md-table-cell>
        <md-table-cell>{{item[6]}}</md-table-cell>
        <md-table-cell>{{item[7]}}</md-table-cell>
      </md-table-row>
    </md-table>
    </center>



    <center v-show="showR">
      <h3>Reinigungskraefte</h3>
      <md-table>
      <md-table-row>
        <md-table-head md-numeric>Mitarbeiter ID</md-table-head>
        <md-table-head>Stadium ID</md-table-head>
        <md-table-head>Name</md-table-head>
        <md-table-head>Adresse</md-table-head>
        <md-table-head>Sozialversicherungsnummer</md-table-head>
        <md-table-head>Bereich</md-table-head>
      </md-table-row>

      <md-table-row v-for="item in reinigungskraefte" v-bind:key="item">
        <md-table-cell md-numeric> {{item[0]}}</md-table-cell>
        <md-table-cell>{{item[1]}}</md-table-cell>
        <md-table-cell>{{item[4]}}</md-table-cell>
        <md-table-cell>{{item[5]}}</md-table-cell>
        <md-table-cell>{{item[6]}}</md-table-cell>
        <md-table-cell>{{item[7]}}</md-table-cell>
      </md-table-row>
    </md-table>
    </center>


    <center v-show="showG">
      <h3>Gärtner</h3>
      <md-table>
      <md-table-row>
        <md-table-head md-numeric>Mitarbeiter ID</md-table-head>
        <md-table-head>Stadium ID</md-table-head>
        <md-table-head>Name</md-table-head>
        <md-table-head>Adresse</md-table-head>
        <md-table-head>Sozialversicherungsnummer</md-table-head>
        <md-table-head>Erfahrung</md-table-head>
      </md-table-row>

      <md-table-row v-for="item in gaertner" v-bind:key="item">
        <md-table-cell md-numeric> {{item[0]}}</md-table-cell>
        <md-table-cell>{{item[1]}}</md-table-cell>
        <md-table-cell>{{item[4]}}</md-table-cell>
        <md-table-cell>{{item[5]}}</md-table-cell>
        <md-table-cell>{{item[6]}}</md-table-cell>
        <md-table-cell>{{item[7]}}</md-table-cell>
      </md-table-row>
    </md-table>
    </center>



        <center v-show="showS">
      <h3>Security</h3>
      <md-table>
      <md-table-row>
        <md-table-head md-numeric>Mitarbeiter ID</md-table-head>
        <md-table-head>Stadium ID</md-table-head>
        <md-table-head>Name</md-table-head>
        <md-table-head>Adresse</md-table-head>
        <md-table-head>Sozialversicherungsnummer</md-table-head>
        <md-table-head>Waffenschein</md-table-head>
        <md-table-head>Lizenz</md-table-head>
      </md-table-row>

      <md-table-row v-for="item in security" v-bind:key="item">
        <md-table-cell md-numeric> {{item[0]}}</md-table-cell>
        <md-table-cell>{{item[1]}}</md-table-cell>
        <md-table-cell>{{item[4]}}</md-table-cell>
        <md-table-cell>{{item[5]}}</md-table-cell>
        <md-table-cell>{{item[6]}}</md-table-cell>
        <md-table-cell>{{item[7]}}</md-table-cell>
        <md-table-cell>{{item[8]}}</md-table-cell>
      </md-table-row>
    </md-table>
    </center>
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from "@/components/HelloWorld.vue";
import ax from "axios"
export default {
  name: "Stadium",
  data() {
    return {
      hausmeister: null,
      gaertner: null,
      reinigungskraefte: null,
      security: null,
      showH: true,
      showR: true,
      showG: true,
      showS: true
    }
  },
   methods: {
    getHausmeister(){
      ax.get("http://localhost:3000/stadium/mitarbeiter/hausmeister")
      .then(res => {
        this.hausmeister = res.data;
      })
    },
    getReinigungskraefte(){
      ax.get("http://localhost:3000/stadium/mitarbeiter/reinigungskraefte")
      .then(res => {
        this.reinigungskraefte = res.data;
      })
    },
    getGaertner(){
      ax.get("http://localhost:3000/stadium/mitarbeiter/gaertner")
      .then(res => {
        this.gaertner = res.data;
      })
    },
    getSecurity(){
      ax.get("http://localhost:3000/stadium/mitarbeiter/security")
      .then(res => {
        this.security= res.data;
      })
    },
  },
  mounted(){
    this.getHausmeister();
    this.getReinigungskraefte();
    this.getGaertner();
    this.getSecurity();
  }
};
</script>
