<template>
  <div class="stadium">
            <div id="nav">
            <router-link to="/stadien">Stadien</router-link> |
            <router-link to="/stadien/mitarbeiter">Stadium Mitarbeiter</router-link> |
            <router-link to="/stadien/utensilien">Stadium Utensilien</router-link> |
            <router-link to="/stadien/mitarbeiter/entlassungen">Stadium Mitarbeiter Entlassungen</router-link>
        </div>
    <center>
      <md-table>
      <md-table-row>
        <md-table-head md-numeric>Stadium ID</md-table-head>
        <md-table-head>Name</md-table-head>
        <md-table-head>Plätze</md-table-head>
        <md-table-head>Adresse</md-table-head>
        <md-table-head>Dach</md-table-head>
      </md-table-row>

      <md-table-row v-for="stadium in stadiumliste" v-bind:key="stadium">
        <md-table-cell md-numeric> {{stadium[0]}}</md-table-cell>
        <md-table-cell>{{stadium[1]}}</md-table-cell>
        <md-table-cell>{{stadium[2]}}</md-table-cell>
        <md-table-cell>{{stadium[3]}}</md-table-cell>
        <md-table-cell>{{stadium[4]}}</md-table-cell>
      </md-table-row>
    </md-table>
    </center>
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from "@/components/HelloWorld.vue";
import ax from "axios"
export default {
  name: "Stadium",
  data() {
    return {
      stadiumliste: null
    }
  },
   methods: {
    getData(){
      ax.get("http://localhost:3000/stadium")
      .then(res => {
        this.stadiumliste = res.data;
      })
    }
  },
  mounted(){
    this.getData();
  }
};
</script>
