<template>
  <div class="stadium">
        <div id="nav">
            <router-link to="/stadien">Stadien</router-link> |
            <router-link to="/stadien/mitarbeiter">Stadium Mitarbeiter</router-link> |
            <router-link to="/stadien/utensilien">Stadium Utensilien</router-link> |
            <router-link to="/stadien/mitarbeiter/entlassungen">Stadium Mitarbeiter Entlassungen</router-link>
        </div>
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from "@/components/HelloWorld.vue";

export default {
  name: "Stadium"
};
</script>
